.body_register1 {
     font-family: "Open Sans", sans-serif;
}

.body_register1 .page__wrapper_register1 {
     overflow: hidden;
}

.page__wrapper_register1 .page_register1 {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
}

.page_register1 .image__here_register1 {
     width: 34.91471215vw;
     height: 100vh;
     background: #c4c4c4;
}

.page_register1 .container_register1 {
     width: 41.84434968vw;
     height: 100vh;
     padding: 6.413043478vh 9.829957356vw 0 5.835287846vw;
     background: #ffffff;
}

.container_register1 .login__link_register1 {
     font-size: 1.739130435vh;
     font-weight: 400;
     line-height: 2.368478261vh;
     color: rgba(3, 1, 76, 1);
     text-align: end;
}

.login__link_register1 .link__login_register1 {
     font-weight: 700;
     color: blue;
     text-decoration: none;
}

.login__link_register1 .link__login_register1:hover {
     text-decoration: underline;
}

.container_register1 .title_register1 {
     margin-top: 13.60652174vh;
     font-size: 3.813043478vh;
     font-weight: 700;
     line-height: 5.192391304vh;
     text-align: left;
     color: rgba(3, 1, 76, 1);
}

.container_register1 .note_register1 {
     color: rgba(3, 1, 76, 0.5);
     font-size: 1.525vh;
     font-weight: 400;
     line-height: 2.077173913vh;
     margin-top: 2.09673913vh;
     margin-bottom: 0.381521739vh;
}

.container_register1 .input__box_register1 {
     margin-top: 2.764130435vh;
     position: relative;
}

.input__box_register1 .icon__input_register1 {
     position: absolute;
     left: 2.150319829vw;
     width: 0.892857143vw;
     height: 1.926086957vh;
     margin-top: 3.145652174vh;
}

.input__box_register1 .input_register1 {
     font-family: "Open Sans", sans-serif;
     background: rgba(246, 246, 246, 1);
     width: 100%;
     border-radius: 0.95326087vh 0.467484009vw;
     padding: 2.955434783vh 4.955223881vw;
     border: none;
     font-size: 1.716304348vh;
     font-weight: 600;
     line-height: 2.336956522vh;
     text-align: left;
     color: rgba(3, 1, 76, 0.5);
}

.container_register1 .button__create_register1 {
     width: 100%;
     padding: 2.955434783vh 0;
     border-radius: 0.95326087vh 0.467484009vw;
     background: rgba(48, 72, 193, 1);
     border: none;
     color: rgba(255, 255, 255, 1);
     font-family: "Open Sans", sans-serif;
     font-size: 1.716304348vh;
     font-weight: 600;
     line-height: 2.336956522vh;
     margin-top: 2.955434783vh;
     margin-bottom: 3.617391304vh;
}

.container_register1 .container__btn_create_link_register1 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.container__btn_create_link_register1 .btn__create_link_register1 {
     border: 0.046908316vw solid rgba(3, 1, 76, 0.3);
     width: 100vw;
     height: 7.148913043vh;
     border-radius: 0.95326087vh 0.467484009vw;
     background: none;
     margin-right: 1.113006397vw;
     font-family: "Open Sans", sans-serif;
}

.container__btn_create_link_register1 .btn__create_link_register1:last-child {
     margin-right: 0;
}

.btn__create_link_register1 .content__btn_create_link_register1 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.content__btn_create_link_register1 .icon_btn_create_link_register1 {
     width: 1.080490405vw;
     height: 2.20326087vh;
}

.content__btn_create_link_register1 .text__btn_create_link_register1 {
     color: rgba(3, 1, 76, 1);
     font-size: 1.525vh;
     font-weight: 600;
     line-height: 2.077173913vh;
     letter-spacing: 0.02em;
     text-align: left;
     margin-left: 0.693496802vw;
}