.body_register1 {
     font-family: "Open Sans", sans-serif;
}

.body_register1 .page__wrapper_register1 {
     overflow: hidden;
}

.page__wrapper_register1 .page_register1 {
     width: 100%;
     display: flex;
     justify-content: center;
}

.page_register1 .image__here_register1 {
     width: 655px;
     height: 1024px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #c4c4c4;
}

.page_register1 .container_register1 {
     width: 785px;
     height: 1024px;
     padding: 0 184.41px 0 109.47px;
     background: #ffffff;
}

.container_register1 .login__link_register1 {
     margin-top: 59px;

     font-family: Open Sans;
     font-size: 16px;
     font-weight: 400;
     line-height: 21.79px;
     text-align: left;
     color: rgba(3, 1, 76, 1);

     float: right;
}

.login__link_register1 .link__login_register1 {
     font-family: Open Sans;
     font-size: 16px;
     font-weight: 700;
     line-height: 21.79px;
     text-align: left;
     color: blue;
     text-decoration: none;
}

.login__link_register1 .link__login_register1:hover {
     text-decoration: underline;
}

.container_register1 .title_register1 {
     margin-top: 125.18px;

     font-family: Open Sans;
     font-size: 35.08px;
     font-weight: 700;
     line-height: 47.77px;
     text-align: left;
     color: rgba(3, 1, 76, 1);
}

.container_register1 .note_register1 {
     color: rgba(3, 1, 76, 0.5);
     font-family: Open Sans;
     font-size: 14.03px;
     font-weight: 400;
     line-height: 19.11px;
     text-align: left;
     margin-top: 19.29px;
     margin-bottom: 28.94px;
}

.container_register1 .input__box_register1 {
     margin-bottom: 25.43px;

     position: relative;
}

.input__box_register1 .icon__input_register1 {
     position: absolute;
     top: 50%;
     left: 0px;
     transform: translateY(-50%);
     margin-right: 35.87px;
     margin-left: 40.34px;
}

.input__box_register1 .input_register1 {
     background: rgba(246, 246, 246, 1);
     width: 491.12px;
     height: 76.3px;
     border-radius: 8.77px;
     padding: 27.19px 92.96px;
     border: none;

     font-family: Open Sans;
     font-size: 15.79px;
     font-weight: 600;
     line-height: 21.5px;
     text-align: left;
     color: rgba(3, 1, 76, 0.5);
}

.container_register1 .button__create_register1 {
     width: 491.12px;
     height: 76.3px;
     border-radius: 8.77px;
     background: rgba(48, 72, 193, 1);
     border: none;

     color: rgba(255, 255, 255, 1);
     font-family: Open Sans;
     font-size: 15.79px;
     font-weight: 600;
     line-height: 21.5px;
     margin-bottom: 33.28px;
}

.container_register1 .container__btn_create_link_register1 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.container__btn_create_link_register1 .btn__create_link_register1 {
     border: 0.88px solid rgba(3, 1, 76, 0.3);
     width: 100%;
     height: 65.77px;
     border-radius: 8.77px;
     background: none;
     margin-right: 20.88px;
}

.container__btn_create_link_register1 .btn__create_link_register1:last-child {
     margin-right: 0;
}

.btn__create_link_register1 .content__btn_create_link_register1 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.content__btn_create_link_register1 .icon_btn_create_link_register1 {
     width: 20.27px;
     height: 20.27px;
}

.content__btn_create_link_register1 .text__btn_create_link_register1 {
     color: rgba(3, 1, 76, 1);
     font-family: Open Sans;
     font-size: 14.03px;
     font-weight: 600;
     line-height: 19.11px;
     letter-spacing: 0.02em;
     text-align: left;
     margin-left: 13.01px;
}