.color-text-task-todo {
     color: #9E78CF
}

.color-text-task-done {
     color: #78CFB0;
     text-decoration: line-through
}

.card {
     width: 100%;
     background: #15101C;
     height: 75px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 20px 20px 20px 20px;
     margin: 20px 0 0 0;
     position: relative;
}

.card:hover {
     border: 2px solid blue;
     border-radius: 0px;
}

.card .card-content {
     display: flex;
     align-items: center;
}

.card-content .text-container {
     flex-grow: 1;
     overflow: hidden;
}

.text-container .text {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 16px;
     font-weight: 400;
     max-width: calc(100% - 60px);
}