* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.TodoApp {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #fff;
}

.TodoApp:hover {
     /* border: 5px solid blue; */
}

.TodoApp .container {
     width: 583px;
     background: #1D1825;
     color: #fff;
     padding: 60px;
     border-radius: 20px;
}