.TodoApp {
     width: 583px;
     height: 758px;
     margin: auto;
     /* Căn giữa khung bên ngoài */
     border: 1px solid #000;
     /* Viền đen */
     box-sizing: border-box;
     padding: 0 20px 0 0;
     /* Khoảng cách từ viền của khung đến container bên trong */
     background: #1D1825;
     border-radius: 20px;
}

.TodoApp:hover {
     border: 5px solid blue;
}

.container {
     display: flex;
     flex-direction: column;
     /* Định dạng các phần tử con theo chiều dọc */
     align-items: center;
     /* Canh giữa các phần tử con theo chiều ngang */
     margin: 50px 50px 50px 50px;
}

.inner-container {
     width: 100%;
}

.text-white {
     color: #FFFFFF;
}

.addNew {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.buttonNew {
     /* Rectangle 5 */
     width: 40px;
     height: 40px;
     margin-left: 10px;
     /* Khoảng cách từ button đến input */
     background: #9E78CF;
     border-radius: 10px;
     outline: #9E78CF;
}

.buttonNew:hover {
     background: #000;
}

.inputNew {
     width: 100%;
     /* 100% - 40px cho button + 10px margin-left */
     height: 40px;
     border: 1px solid #9E78CF;
     border-radius: 10px;
     background: #1D1825;
     padding: 0 20px;
     color: #777777;
}

.inputNew:hover,
.inputNew:focus {
     border: 1px solid blue;
     /* Border xanh khi hover hoặc focus vào input */
}

.task-to-do {
     margin-top: 50px;
     /* display: flex; */
     align-items: center;
     /* height: 271px; */
}

.scroll-task {
     overflow-y: auto;
     /* Hiển thị thanh cuộn dọc khi nội dung vượt quá kích thước */
     max-height: 250px;
     /* 180px là tổng chiều cao của phần addNew, margin-top của task-to-do và task-done */
}

.buttonDone {
     background: #15101C;
     outline: #15101C;
     border: 0px solid;
}