.TodoApp {
     width: 583px;
     height: 758px;
     margin: auto;
     /* Căn giữa khung bên ngoài */
     border: 1px solid #000;
     /* Viền đen */
     box-sizing: border-box;
     padding: 0 20px 0 0;
     /* Khoảng cách từ viền của khung đến container bên trong */
     background: #1D1825;
     border-radius: 20px;
}

.TodoApp:hover {
     border: 5px solid blue;
}

.container {
     display: flex;
     flex-direction: column;
     /* Định dạng các phần tử con theo chiều dọc */
     align-items: center;
     /* Canh giữa các phần tử con theo chiều ngang */
     margin: 50px 50px 50px 50px;
}

.inner-container {
     width: 100%;
}