.icon-container {
     display: flex;
     /* Hiển thị các biểu tượng theo chiều ngang */
     margin-left: auto;
     /* Dồn biểu tượng về phía bên phải */
}

.icon {
     margin-left: 5px;
     /* Tạo một khoảng cách giữa các biểu tượng */
}

.color-text-task-todo {
     color: #9E78CF
}