.color-text-task-todo {
     color: #9E78CF
}

.icon-container {
     display: flex;
}

.icon-container .buttonDone {
     background: #15101C;
     outline: #15101C;
     border: 0px solid;
     margin-right: 0px;
     position: relative;
}

.buttonDone .icon {
     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
}

.buttonDone .icon:last-child {
     margin-right: 0;
}